*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    color: black;
}
.headcontain-tittle{
    display: block;
    align-items: center;
}
.headcontain-tittle>img{
    object-fit: cover;
    width: 100%;
    height: 750px; 
}
.headcontain-tittle>h1{
    position: absolute;
    text-align: center;
    margin: auto;
    top: 120px;
    left: 25%;
    max-width: 60%;
    color: white;
    font-family: 'PT Serif', serif;
    font-size: 35px;
}
.intro{
    margin: auto;
    margin-top: -80px;
    position: relative;
    border-bottom: #e3e4eb 1px solid;
}
.intro>p{
    position: relative;
    margin: auto;
    padding: 20px;
    max-width: 47%;
    background: white;
    color: #4c4d57;
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-weight: bold;
}
.intro> .text2{
    margin-top: -20px;
    font-family: LFTEtica-Semibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: .8rem;
    color: #727483;
}
.intro> .text3{
    padding-top: 0px;
    margin-top: -16px;
    font-family: LFTEtica-Light,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-style: italic;
}
.mt>p{
    margin: 20px auto;
    line-height: 1.7rem;
    font-size: 1.2rem;
    padding: 20px ;
    width: 45%;
}
.centerAS{
    text-align: center;
}
.ASfull>img{
    width: 100%;
}
.mt>p{
    margin: 20px auto;
    line-height: 1.7rem;
    font-size: 1.2rem;
    padding: 20px ;
    width: 45%;
}
.mts>p{
    margin:auto;
    margin-top: -55px;
    line-height: 1.7rem;
    font-size: 1.2rem;
    padding: 20px ;
    width: 45%;
    background-color: white;
    position: relative;
}
.quotes{
    margin: -24px auto;
    line-height: 1.7rem;
    font-size: 1.3rem;
    text-align: center;
    padding: 20px ;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 55%;

    font-family: LFTEtica-Light,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #ff9c42;
    font-style: italic;
}
.mts>.mts2{
    margin-top: 0px;
}
.centerAS>.margintopimg{
    margin-top: -10px;
}